## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("/content/charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])
application_df.head(10)

  APPLICATION_TYPE       AFFILIATION  ...  ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...     5000             1
1               T3       Independent  ...   108590             1
2               T5  CompanySponsored  ...     5000             0
3               T3  CompanySponsored  ...     6692             1
4               T3       Independent  ...   142590             1
5               T3       Independent  ...     5000             1
6               T3       Independent  ...    31452             1
7               T3       Independent  ...  7508025             1
8               T7       Independent  ...    94389             1
9               T5  CompanySponsored  ...     5000             0

[10 rows x 10 columns]

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T17', 'T29', 'T15', 'T25', 'T14', 'T2', 'T12', 'T13', 'T9']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C3700        1
C2500        1
C1732        1
C1236        1
C1570        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
app_count = application_df['CLASSIFICATION'].value_counts()
app_count_new = app_count[app_count >1]
app_count_new

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1246        2
C1267        2
C3200        2
C1256        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = app_count[app_count <800].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies = pd.get_dummies(application_df)
app_dummies.dtypes

STATUS                          int64
ASK_AMT                         int64
IS_SUCCESSFUL                   int64
APPLICATION_TYPE_Other          uint8
APPLICATION_TYPE_T10            uint8
APPLICATION_TYPE_T19            uint8
APPLICATION_TYPE_T3             uint8
APPLICATION_TYPE_T4             uint8
APPLICATION_TYPE_T5             uint8
APPLICATION_TYPE_T6             uint8
APPLICATION_TYPE_T7             uint8
APPLICATION_TYPE_T8             uint8
AFFILIATION_CompanySponsored    uint8
AFFILIATION_Family/Parent       uint8
AFFILIATION_Independent         uint8
AFFILIATION_National            uint8
AFFILIATION_Other               uint8
AFFILIATION_Regional            uint8
CLASSIFICATION_C1000            uint8
CLASSIFICATION_C1200            uint8
CLASSIFICATION_C2000            uint8
CLASSIFICATION_C2100            uint8
CLASSIFICATION_C3000            uint8
CLASSIFICATION_Other            uint8
USE_CASE_CommunityServ          uint8
USE_CASE_Heathcare              uint8
USE_CASE_Other                  uint8
USE_CASE_Preservation           uint8
USE_CASE_ProductDev             uint8
ORGANIZATION_Association        uint8
ORGANIZATION_Co-operative       uint8
ORGANIZATION_Corporation        uint8
ORGANIZATION_Trust              uint8
INCOME_AMT_0                    uint8
INCOME_AMT_1-9999               uint8
INCOME_AMT_10000-24999          uint8
INCOME_AMT_100000-499999        uint8
INCOME_AMT_10M-50M              uint8
INCOME_AMT_1M-5M                uint8
INCOME_AMT_25000-99999          uint8
INCOME_AMT_50M+                 uint8
INCOME_AMT_5M-10M               uint8
SPECIAL_CONSIDERATIONS_N        uint8
SPECIAL_CONSIDERATIONS_Y        uint8
dtype: object

In [10]:
# Split our preprocessed data into our features and target arrays
target_app = app_dummies['IS_SUCCESSFUL']
feature_app = app_dummies.drop('IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
(X_train, X_test, y_train, y_test) = train_test_split(feature_app, target_app, random_state=1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [21]:
# Get shape of df to determine number of features
X_train.shape

(25724, 43)

## Compile, Train and Evaluate the Model

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 10)                440

 dense_7 (Dense)             (None, 5)                 55

 dense_8 (Dense)             (None, 1)                 6

=================================================================
Total params: 501
Trainable params: 501
Non-trainable params: 0
_________________________________________________________________

In [23]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy", "AUC"],steps_per_execution=None)

In [24]:
# Train the model
# Set callback
filepath = 'charity_model_{epoch:02d}.hdf5'
checkpoint = tf.keras.callbacks.ModelCheckpoint(filepath=filepath, 
                             monitor='accuracy',
                             save_weights_only=True,
                             save_freq=5)
callbacks = [checkpoint]

# Train the model
fit_output = nn.fit(X_train_scaled, y_train, epochs=20, callbacks=callbacks)

Epoch 1/20
804/804 [==============================] - 3s 3ms/step - loss: 0.6159 - accuracy: 0.6902 - auc: 0.7302
Epoch 2/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5644 - accuracy: 0.7256 - auc: 0.7755
Epoch 3/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5576 - accuracy: 0.7282 - auc: 0.7805
Epoch 4/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5551 - accuracy: 0.7280 - auc: 0.7828
Epoch 5/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5536 - accuracy: 0.7294 - auc: 0.7843
Epoch 6/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5525 - accuracy: 0.7295 - auc: 0.7853
Epoch 7/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5519 - accuracy: 0.7293 - auc: 0.7855
Epoch 8/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5511 - accuracy: 0.7289 - auc: 0.7860
Epoch 9/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5507 - accuracy: 0.7301 - auc: 0.7863
Epoch 10/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5499 - accuracy: 0.7304 - auc: 0.7872
Epoch 11/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5497 - accuracy: 0.7307 - auc: 0.7869
Epoch 12/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5492 - accuracy: 0.7312 - auc: 0.7878
Epoch 13/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5490 - accuracy: 0.7316 - auc: 0.7882
Epoch 14/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5485 - accuracy: 0.7306 - auc: 0.7886
Epoch 15/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7311 - auc: 0.7884
Epoch 16/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7317 - auc: 0.7889
Epoch 17/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7317 - auc: 0.7897
Epoch 18/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5475 - accuracy: 0.7330 - auc: 0.7893
Epoch 19/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5472 - accuracy: 0.7329 - auc: 0.7892
Epoch 20/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5471 - accuracy: 0.7319 - auc: 0.7893

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy, model_AUC = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}, AUC: {model_AUC}")

268/268 - 0s - loss: 0.5542 - accuracy: 0.7297 - auc: 0.7834 - 250ms/epoch - 932us/step
Loss: 0.5541788339614868, Accuracy: 0.72967928647995, AUC: 0.7833645343780518

# **Optimizing the Model**

In [28]:
# Changing the number of epochs to optimize
# Train the model
# Set callback
filepath = 'charity_model_{epoch:02d}.hdf5'
checkpoint = tf.keras.callbacks.ModelCheckpoint(filepath=filepath, 
                             monitor='accuracy',
                             save_weights_only=True,
                             save_freq=5)
callbacks = [checkpoint]

# Train the model
fit_output = nn.fit(X_train_scaled, y_train, epochs=35, callbacks=callbacks)

Epoch 1/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5442 - accuracy: 0.7341 - auc: 0.7919
Epoch 2/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5441 - accuracy: 0.7346 - auc: 0.7922
Epoch 3/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5443 - accuracy: 0.7347 - auc: 0.7921
Epoch 4/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5440 - accuracy: 0.7354 - auc: 0.7924
Epoch 5/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5443 - accuracy: 0.7348 - auc: 0.7921
Epoch 6/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5438 - accuracy: 0.7343 - auc: 0.7923
Epoch 7/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7347 - auc: 0.7920
Epoch 8/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5436 - accuracy: 0.7345 - auc: 0.7928
Epoch 9/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7344 - auc: 0.7923
Epoch 10/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7349 - auc: 0.7928
Epoch 11/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7353 - auc: 0.7927
Epoch 12/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5437 - accuracy: 0.7340 - auc: 0.7928
Epoch 13/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7345 - auc: 0.7928
Epoch 14/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7350 - auc: 0.7922
Epoch 15/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7339 - auc: 0.7927
Epoch 16/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7347 - auc: 0.7920
Epoch 17/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7347 - auc: 0.7929
Epoch 18/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7352 - auc: 0.7927
Epoch 19/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7350 - auc: 0.7924
Epoch 20/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7350 - auc: 0.7931
Epoch 21/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7345 - auc: 0.7929
Epoch 22/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5434 - accuracy: 0.7351 - auc: 0.7927
Epoch 23/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7349 - auc: 0.7931
Epoch 24/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7357 - auc: 0.7927
Epoch 25/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5431 - accuracy: 0.7346 - auc: 0.7933
Epoch 26/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5434 - accuracy: 0.7349 - auc: 0.7930
Epoch 27/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5432 - accuracy: 0.7341 - auc: 0.7933
Epoch 28/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5432 - accuracy: 0.7350 - auc: 0.7931
Epoch 29/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7355 - auc: 0.7931
Epoch 30/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7355 - auc: 0.7932
Epoch 31/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7350 - auc: 0.7932
Epoch 32/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7351 - auc: 0.7930
Epoch 33/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5431 - accuracy: 0.7351 - auc: 0.7932
Epoch 34/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5431 - accuracy: 0.7345 - auc: 0.7930
Epoch 35/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5429 - accuracy: 0.7353 - auc: 0.7933

In [29]:
# Optimizing model to get better accuracy
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn1 = tf.keras.models.Sequential()

# First hidden layer
nn1.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=43))

# Second hidden layer
nn1.add(tf.keras.layers.Dense(units=10, activation="relu"))

# Output layer
nn1.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn1.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 10)                440

 dense_10 (Dense)            (None, 10)                110

 dense_11 (Dense)            (None, 1)                 11

=================================================================
Total params: 561
Trainable params: 561
Non-trainable params: 0
_________________________________________________________________

In [31]:
# Compile the model
nn1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy", "AUC"],steps_per_execution=None)

In [32]:
# Train the model
# Set callback
filepath = 'charity_model_{epoch:02d}.hdf5'
checkpoint = tf.keras.callbacks.ModelCheckpoint(filepath=filepath, 
                             monitor='accuracy',
                             save_weights_only=True,
                             save_freq=5)
callbacks = [checkpoint]

# Train the model
fit_output = nn1.fit(X_train_scaled, y_train, epochs=35, callbacks=callbacks)

Epoch 1/35
804/804 [==============================] - 4s 3ms/step - loss: 0.6018 - accuracy: 0.6981 - auc: 0.7387
Epoch 2/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5678 - accuracy: 0.7229 - auc: 0.7716
Epoch 3/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5614 - accuracy: 0.7261 - auc: 0.7775
Epoch 4/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5585 - accuracy: 0.7259 - auc: 0.7795
Epoch 5/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5567 - accuracy: 0.7262 - auc: 0.7812
Epoch 6/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5552 - accuracy: 0.7258 - auc: 0.7824
Epoch 7/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5534 - accuracy: 0.7278 - auc: 0.7844
Epoch 8/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5521 - accuracy: 0.7290 - auc: 0.7856
Epoch 9/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5511 - accuracy: 0.7310 - auc: 0.7857
Epoch 10/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5504 - accuracy: 0.7316 - auc: 0.7865
Epoch 11/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5493 - accuracy: 0.7322 - auc: 0.7878
Epoch 12/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5493 - accuracy: 0.7313 - auc: 0.7873
Epoch 13/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5490 - accuracy: 0.7318 - auc: 0.7875
Epoch 14/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5486 - accuracy: 0.7309 - auc: 0.7882
Epoch 15/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5483 - accuracy: 0.7320 - auc: 0.7883
Epoch 16/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5479 - accuracy: 0.7323 - auc: 0.7886
Epoch 17/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5478 - accuracy: 0.7317 - auc: 0.7889
Epoch 18/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5476 - accuracy: 0.7314 - auc: 0.7892
Epoch 19/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5474 - accuracy: 0.7333 - auc: 0.7891
Epoch 20/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5472 - accuracy: 0.7330 - auc: 0.7892
Epoch 21/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7315 - auc: 0.7897
Epoch 22/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5470 - accuracy: 0.7329 - auc: 0.7893
Epoch 23/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5468 - accuracy: 0.7328 - auc: 0.7895
Epoch 24/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5465 - accuracy: 0.7327 - auc: 0.7906
Epoch 25/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5464 - accuracy: 0.7332 - auc: 0.7900
Epoch 26/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5468 - accuracy: 0.7340 - auc: 0.7892
Epoch 27/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5465 - accuracy: 0.7341 - auc: 0.7898
Epoch 28/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5462 - accuracy: 0.7315 - auc: 0.7897
Epoch 29/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7326 - auc: 0.7897
Epoch 30/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7339 - auc: 0.7905
Epoch 31/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7339 - auc: 0.7904
Epoch 32/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5458 - accuracy: 0.7341 - auc: 0.7905
Epoch 33/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5459 - accuracy: 0.7338 - auc: 0.7901
Epoch 34/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5455 - accuracy: 0.7340 - auc: 0.7908
Epoch 35/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5452 - accuracy: 0.7342 - auc: 0.7912

In [33]:
# Evaluate the model using the test data
model_loss, model_accuracy, model_AUC = nn1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}, AUC: {model_AUC}")

268/268 - 0s - loss: 0.5560 - accuracy: 0.7254 - auc: 0.7823 - 479ms/epoch - 2ms/step
Loss: 0.5560177564620972, Accuracy: 0.7253644466400146, AUC: 0.7822777032852173

In [19]:
# Export our model to HDF5 file
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

Even after trying to optimize the model the maximum accuracy I could achieve was 73.53